.outtabs{
    font-family:arial;
    margin:0 auto;
    border: 1px solid #ccc!important;
    width:70%;
    text-align:center;
    margin-top:15vh;
  }
  .out{
    border: 1px solid #ccc!important;
  }
  .tab-buttons{
    margin-bottom:10px;
  }
  
.outputbutton{
    margin-right:15px;
    font-size:20px;
    background:transparent;
    border:1px solid #ccc!important;
    outline-style: groove;
    padding:10px 20px ;
    cursor:pointer;
    color:rgba(243, 233, 233, 0.863);
    background-color: rgba(7, 130, 130, 0.61);
    transition:all ease-in-out .2s;
    border-bottom:2px solid transparent;
    
  }

  .tab-content{
      width: 100%;
  }